node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# dependencies
package-lock.json
GCPFunctions/node_modules

# misc
.DS_Store
.env
.vscode
package-lock.json
